.footer {
    @include pageWidth;
    min-height: 110px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 20px;
    font-size: 9px;
    letter-spacing: .12em;
    text-transform: uppercase;
    color: var(--color-muted);
}

.footer> :last-child {
    text-align: right;
}